# -*- mode: yaml -*-
dagster:
  home: /opt/ol_data_pipelines
  dagit:
    path: /opt/ol_data_pipelines/bin
    flags: -w etc/workspace.yaml
  config:
    instance:
      dagit:
      run_storage:
        module: dagster.core.storage.runs
        class: SqliteRunStorage
        config:
          base_dir: /opt/dagster/
  pkg_sources:
    - ol-data-pipelines: https://ol-eng-artifacts.s3.amazonaws.com/ol-data-pipelines/ol-data-pipelines_0.1.2_amd64.deb
