{% set dagster = salt.grains.filter_by({
    'default': {
        'service': 'dagit',
        'home': '/opt/dagster/',
        'user': 'dagster',
        'group': 'dagster',
        'config_dir': '/etc/dagster/',
        'instance_config': {},
        'pipeline_configs': {},
        'dagit': {
            'path': '/usr/local/bin/',
            'port': 3000,
            'listen_address': '0.0.0.0',
            'flags': [
                '-w /etc/dagster/workspace.yaml'
            ],
        }
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt.pillar.get('dagster'), base='default') %}
